.gradle
/.idea/caches
/.idea/libraries
/.idea/shelf
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/app/build
/build
/captures
.cxx
.DS_Store
.externalNativeBuild
*.iml
local.properties